@using PagedList.Core.Mvc

@model PagedList.Core.Mvc.Example.Models.TestListViewModel

@{
    ViewData["Title"] = "Pager Test";
}

<h1>Pager Test</h1>
@if (Model.Tests != null)
{
    <div>Current Page Number: @Model.Tests.PageNumber</div>
    <div>Page Size: @Model.Tests.PageSize</div>
    <div>Total Count: @Model.Tests.TotalItemCount</div>
    <ul>
        @foreach (var test in Model.Tests)
        {
            <li>@test.Name</li>
        }
    </ul>
    <pager class="pager-container" list="@Model.Tests" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Index" asp-controller="Test" asp-route-addtional-param="Additional-Param-Value"/>
}